@import url("https://fonts.googleapis.com/css?family=Poppins");

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: $m-size;
  overflow: visible;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.remove-header-overlay {
  margin-top: $margin-to-header;
}
