.map__container {
  height: 350px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.map__container--dashboard {
  width: 40%;
}

.container__input {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  border: none;
  border-right: 2px solid lighten($blue, 30%);
}

.container__inputbox {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.container__output {
  height: 0;
  width: 75%;
}

#start,
#finish {
  margin-right: 200px;
}

.input-label {
  width: 65%;
  display: flex;
  align-items: left;
}

.alternative-routes {
  position: absolute;
  height: 40px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.route {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid black;
  background-color: rgb(247, 245, 245);
}

.route:hover {
  transition: 0.2s ease;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.39);
}

@media only screen and (max-width: $breakpoint) {
  .wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .map__container--dashboard {
    margin-top: 20px;
    width: 100%;
  }

  .container__input {
    border: none;
    border-bottom: 2px solid lighten($blue, 30%);
  }
} ;
